@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Paaji+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=LXGW+Marker+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Paaji+2:wght@400..800&family=Bitcount+Grid+Single:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=LXGW+Marker+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 156%;
    width: 100%;
  scroll-behavior:smooth;

    background: linear-gradient(to bottom, rgb(109, 86, 228), rgb(177, 103, 233));



}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.answer {
    height: 100px;
    width: 200px;
    border: 2px solid black;
}

.container {
    width: 1000px;
    height: 500px;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(111, 7, 239);
    text-align: center;
    position: relative;
    padding:20px





    
}
.items{
    display: flex;
    gap: 30px;
    color: white;
    font-family: "Sixtyfour", sans-serif;
    font-size: 20px;
}
.items p{
     text-shadow: 10px 8px rgb(46, 43, 43);
}
.items  a:link{
    text-decoration: none;
    color:white;
}
.items  a:visited{
    text-decoration: none;
    color:white;
}

.nav h1 {
    color: white;
    font-family: "Sixtyfour", sans-serif;


    text-shadow: 12px 10px rgb(46, 43, 43);
}

    
   

.container input {
    height: 60px;
    width: 100%;
    font-size: 20px;
    border-radius: 14px;
    padding: 15px;
    border: none
}

h3 {
    font-family: "Sixtyfour", sans-serif;
    color: white;
    text-align: center;

    text-shadow: 7px 5px rgb(46, 43, 43);
}

button {
    height: 60px;
    width: 100%;
    font-size: 20px;
    border-radius: 14px;
    padding: 15px;
    border: 2px solid white;
    ;
    background: linear-gradient(to right, rgba(92, 3, 209, 0.901), rgba(201, 109, 240, 0.962));
    color: white;
    font-family: "Sixtyfour", sans-serif;
    box-shadow: 7px 5px rgb(46, 43, 43);
    transform: translateY(5px);
    transition: linear, 0.3s;

}

button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: linear, 0.3s;
    box-shadow: 14px 12px rgb(46, 43, 43);
}

.answer {
    width: 100%;
    height: 300px;
    border-radius: 14px;
    background-color: white;
    font-size: 25px;
    font-family: "Sixtyfour", sans-serif;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: clipped;

}

.image {
    height: 300px;
    width: 300px;




}

.image img {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 14px;
}

.info {
    position: relative;
    top: 70px;
    width: 70vw;
    margin: auto;
    display: flex;
    gap: 30px;
}

.photos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info p {
    font-family: "Bitcount Grid Single", sans-serif;
    font-size: 22px;
    color: white;

}

img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 12px 10px rgb(46, 43, 43);

}
footer{
    
    text-align: center;
    margin-top: 230px;
    color: white;
    font-family: "Sixtyfour", sans-serif;
    font-size: 18px;
    width:100%;
     transform:translateY(5px);
    transition: all 0.3s Linear;

}
footer:hover{
    text-shadow: 10px 8px rgb(46, 43, 43);
    transform:translateY(-5px);
    transition: all 0.3s Linear;
}
h2{
    font-family: "Sixtyfour", sans-serif;
    color: white;
    text-align: center;
    margin-top:80px;
    text-shadow: 7px 5px rgb(46, 43, 43);
}

@media screen and (max-width:450px) and (min-width:310px){
    .nav{
        width:100vw;
        height:80px;
        display:flex;
        justify-content: space-around;
       

    }
    .nav h1{
        font-size: 16px !important;
        position:relative;
       left:5px;
    }
    .items p{
        display:none;
    }
    .main h3{
        font-size: 12px;
    }
    .container input,button{
         width:100%;
    height:50px !important;
    font-size:10px !important;
    }
    .container{
        width:320px;
    height:450px;
    margin-top:60px;
    }
    .answer{
        font-size: 11px !important;
        height:300px;
    }
    .image{
    height:100px !important;
    width:100px !important;
}
.image img{
     object-fit: cover ;
    overflow: hidden;
    height: 100% ;
    width: 100% ;
    border-radius: 14px;
}
.info p{
     font-family: "Bitcount Grid Single", sans-serif;
    font-size: 10px !important;
    color: white;
}
#p2{
    display:none;
}
footer{
    margin-top:75px;
    font-size: 11px;
     text-shadow: 10px 8px rgb(46, 43, 43);
}
body,html{
        height:126%;
        width:100%;
        
    }
    h2{
        font-size:15px;
    }
    .info{
        border:2px solid white;
        padding:5px;
        border-radius:10px;
        overflow:hidden;
        box-shadow: 7px 5px rgb(46, 43, 43);
        position:relative;
        top:25px;
    }
}